<h1>Listing notices</h1>

<table>
  <tr>
    <th>Calender name</th>
    <th>Calender url</th>
    <th>Youroom access token</th>
    <th>Youroom access token secret</th>
    <th>Room name</th>
    <th>Room</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notices.each do |notice| %>
  <tr>
    <td><%= notice.calender_name %></td>
    <td><%= notice.calender_url %></td>
    <td><%= notice.youroom_access_token %></td>
    <td><%= notice.youroom_access_token_secret %></td>
    <td><%= notice.room_name %></td>
    <td><%= notice.room_id %></td>
    <td><%= notice.message %></td>
    <td><%= link_to 'Show', notice %></td>
    <td><%= link_to 'Edit', edit_notice_path(notice) %></td>
    <td><%= link_to 'Destroy', notice, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Notice', new_notice_path %>
