<% selected_calendar = @notice_setting.google_account_id ? @notice_setting.google_account_id.to_s + " " + @notice_setting.google_calendar_id : ""%>

<%= form_for(@notice_setting, :url => confirm_notice_settings_path) do |f| %>

  <% if @notice_setting.errors.any? %>
<div class="row">
<div class="span11 offset2">
  <div class="alert-message error" data-alert="alert" >
    <a class="close" href="#">&times;</a>
    <p><h2><%= @notice_setting.errors.count %> 件の問題により登録できません:</h2></p>
      <% @notice_setting.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
  </div>
</div>
</div>
  <% end %>

  <div class="field">
    <%= f.label t('attributes.google_calendar') %> :
    <select id="google_account_and_calendar_id" name="google_account_and_calendar_id">
      <% @google_accounts.each {|account| %>
        <optgroup label="<%= account.display_name %>">
          <% account.calendars.each {|calendar| %>
            <% option_value = account.id.to_s + " " + calendar.event_feed_link %>
            <option value="<%= option_value %>" <%= "selected" if option_value == selected_calendar %>><%= calendar.title %></>
          <% } %>
        </optgroup>
      <% } %>
    </select>
  </div>
  <div class="field">
    <%= f.label t('attributes.room_name') %> :
    <%= f.select(:room_number, @rooms, {:selected => @notice_setting.room_number}) %>
  </div>

  <div class="field">
    <%= f.label t('attributes.days_before') %> :
    <%= f.select :days_before, NoticeSetting.days_before_options %>
  </div>
  <div class="field">
    <%= f.label t('attributes.additional_message') %> :
    <%= f.text_field :additional_message %>
  </div>
  <div class="actions">
    <%= f.submit({:class=>"btn primary"}) %>
  </div>
<% end %>
