<% if @notice_setting.warnings.any? %>
  <div class="row">
  <div class="span11 offset2">
    <div class="alert-message warning fade in" data-alert="alert" >
      <a class="close" href="#">&times;</a>
      <% @notice_setting.warnings.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  </div>
  </div>
<% end %>

<p>
  <b>Googleアカウント:</b>
  <%= @google_account_name %>
</p>

<p>
  <b>対象カレンダー:</b>
  <%= @notice_setting.google_calendar_name %>
</p>

<p>
  <b>キーワードで絞り込み:</b>
  <%= @notice_setting.use_keyword ? @notice_setting.keyword : '(なし)'%>
</p>

<p>
  <b>通知先ルーム:</b>
  <%= @notice_setting.room_name %>
</p>

<p>
  <b>通知タイミング:</b>
  <%= NoticeSetting.days_before_options.key(@notice_setting.days_before.to_i) %>
</p>

<p>
  <b>冒頭メッセージ:</b>
  <%= @notice_setting.additional_message %>
</p>
<div class="row">
<div class="span14">
  <div class="actions">
    <%= form_for(@notice_setting, :url => notice_settings_path) do |f| %>
      <%= f.submit('登 録', {:class=>'btn primary'}) %>
    <% end %>
    <%= form_for(@notice_setting, :url => new_notice_setting_path) do |f| %>
      <% [ :google_account_id, :google_calendar_id, :room_number, :days_before, :additional_message, :use_keyword, :keyword ].each do |attr| %>
        <%= f.hidden_field attr %>
      <% end %>
      <%= f.submit('見直す', {:class =>'btn'}) %>
    <% end %>
  </div>
  <table class="bordered-table">
    <thead>
    <tr>
      <th>通知される日</th>
      <th>本文</th>
      <th>添付ファイル</th>
    </tr>
    </thead>
    <tbody>
  <% @sample_posts.each do|sample| %>
    <% sample.each do |key, value| %>
    <tr>
      <td width="60"><%= key %></td>
      <td><div class="span9" style="word-wrap: break-word;"><%= value["entry[content]"] %></div></td>
      <td><div class="span9" style="word-wrap: break-word;"><%= value["entry[attachment_attributes][data][text]"] %></div></td>
    </tr>
    <% end %>
  <% end %>
    </tbody>
  </table>
</div>
</div>
