#coding:utf-8
<h1>現在の通知設定</h1>

<table class="bordered-table">
  <thead>
  <tr>
    <th><%= t 'attributes.room_name' %></th>
    <th><%= t 'attributes.google_account_id' %></th>
    <th><%= t 'attributes.google_calendar_name' %></th>
    <th><%= t 'attributes.days_before' %></th>
    <th><%= t 'attributes.additional_message' %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @notice_settings.each do |notice_setting| %>
  <tr>
    <td><%= notice_setting.room_name %></td>
    <td><%= notice_setting.google_account_id %></td>
    <td><%= notice_setting.google_calendar_name %></td>
    <td><%= notice_setting.days_before %></td>
    <td><%= notice_setting.additional_message %></td>
    <td><%= link_to '削除', notice_setting, confirm: '本当に?', method: :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to '追加', new_notice_setting_path %>
