<h1>Listing notice_settings</h1>

<table>
  <tr>
    <th><%= t 'attributes.room_name' %></th>
    <th><%= t 'attributes.google_account_id' %></th>
    <th><%= t 'attributes.google_calendar_name' %></th>
    <th><%= t 'attributes.days_before' %></th>
    <th><%= t 'attributes.additional_message' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notice_settings.each do |notice_setting| %>
  <tr>
    <td><%= notice_setting.room_name %></td>
    <td><%= notice_setting.google_account_id %></td>
    <td><%= notice_setting.google_calendar_name %></td>
    <td><%= notice_setting.days_before %></td>
    <td><%= notice_setting.additional_message %></td>
    <td><%= link_to 'Show', notice_setting %></td>
    <td><%= link_to 'Edit', edit_notice_setting_path(notice_setting) %></td>
    <td><%= link_to 'Destroy', notice_setting, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Notice setting', new_notice_setting_path %>
