<p id="notice"><%= notice %></p>

<p>
  <b><% t 'attributes.room_name' %>:</b>
  <%= @notice_setting.room_name %>
</p>

<p>
  <b><% t 'attributes.google_account' %>:</b>
  <%= @notice_setting.google_account.display_name %>
</p>

<p>
  <b><% t 'attributes.google_calendar' %>:</b>
  <%= @notice_setting.google_calendar_name %>
</p>

<p>
  <b><% t 'attributes.days_before' %>:</b>
  <%= @notice_setting.days_before %>
</p>

<p>
  <b><% t 'attributes.Additional_message' %>:</b>
  <%= @notice_setting.additional_message %>
</p>


<%= link_to 'Edit', edit_notice_setting_path(@notice_setting) %> |
<%= link_to 'Back', notice_settings_path %>
