<p id="notice"><%= notice %></p>

<p>
  <b>Access token:</b>
  <%= @youroom_user.access_token %>
</p>

<p>
  <b>Access token secret:</b>
  <%= @youroom_user.access_token_secret %>
</p>


<%= link_to 'Edit', edit_youroom_user_path(@youroom_user) %> |
<%= link_to 'Back', youroom_users_path %>
