<!DOCTYPE html>
<html>
  <meta name="description" content="Attentive Ada is a service that posts events of Google Calendar to youRoom.">
  <meta name="author" content="">
  <title><%= t('application.name', :default=>'Attentive Ada') %></title>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "bootstrap-alerts" %>
  <%= javascript_include_tag "bootstrap-addon" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <style type="text/css">
      /* Override some defaults */
      html, body {
        background-color: #eee;
      }
      body {
        padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
      }
      .container > footer p {
        text-align: center; /* center align it with the container */
      }
      .container {
        width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
      }

      /* The white background content wrapper */
      .container > .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 0 0 6px 6px;
           -moz-border-radius: 0 0 6px 6px;
                border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

      /* Page header tweaks */
      .page-header {
        background-color: #f5f5f5;
        padding: 20px 20px 10px;
        margin: -20px -20px 20px;
      }

      /* Styles you shouldn't keep as they are for displaying this base example only */
      .content .span10,
      .content .span4 {
        min-height: 500px;
      }
      /* Give a quick and non-cross-browser friendly divider */
      .content .span4 {
        margin-left: 0;
        padding-left: 19px;
        border-left: 1px solid #eee;
      }

      .topbar .btn {
        border: 0;
      }

    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">

    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>
  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <%= link_to('助かる庶務のA田ちゃん', root_path, { :class => 'brand' }) %></a>

          <% if (@logged_in_as) %>
          <ul class="nav">
            <li class="active"><%= link_to 'Home', root_path %></a></li>
            <li><%= link_to 'Contact', 'application/contact' %></a></li>
            <li><%= link_to 'About', 'application/contact' %></a></li>
          </ul>
          <% end %>
          <% if (@logged_in_as.nil?) %>
            <%= form_tag( {:controller => 'oauth', :action => 'verify_youroom'} , {:method=>'get', :class=>'pull-right'}) do %>
              <button class="btn" type="submit">youRoomアカウントでログイン</button>
            <% end %>
          <% else %>
             <ul class="nav secondary-nav">
                <li class="dropdown" data-dropdown="dropdown">
                  <a href="#" class="dropdown-toggle" style="color:#BDD5AA"><%= @logged_in_as %></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'ログアウト', logout_path %></li>
                  </ul>
                </li>
              </ul>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
<!--        <div class="page-header">
          <h1><%= @page_name %></h1>
        </div>
-->
        <div class="row">
          <div class="span16">
            <% if (@logged_in_as.nil?) %>
              右上のボタンを押して、youRoomアカウントでログインしてください。<br/>
              「許可する」を押すとこのサービスに戻ります。<br/><br/>
              <%= render 'about' %>
            <% else %>
              <%= yield %>
            <% end %>
          </div>
<!--          <div class="span4">
            <h3>Secondary content</h3>
          </div> -->
        </div>
      </div>

      <footer>
        <p>&copy; anarchiStraw 2011</p>
        <p>youRoom&trade;は株式会社ソニックガーデンの商標です。Google Calendar&trade;はGoogle Inc.の商標です。</p>
      </footer>

    </div> <!-- /container -->
</body>